/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bg-images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1000px) {
    .mt-container {
        flex-direction: row;
    }
}

.main-tile {
    display: flex;
    flex-basis: 100%;
    height: 25%;
    min-height: 350px;
    margin: 2em;
}

@media only screen and (min-width: 1000px) {
    .main-tile {
        height: 50%;
        flex-basis: calc(100%/2);
    }
}

.sub-tile {
    min-height: 250px;
    height: 33.333%;
    width: 60%;
    margin-bottom: 2em;
    margin-left: 20%;
}

@media only screen and (min-width: 1000px) {
    .sub-tile {
        width: 33.333%;
        height: 100%;
        margin: 2em;
    }
}

.tiles {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 75%;
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    .tiles {
        flex-direction: row;
        height: 33%;
    }
}